.bg-light{
  background-color: black !important;
}
.logo{
  width: 100px;
  height: 50px;
}
.nav-link {
  color: white !important;
}
#hom{
  height: 100vh;
  background-color: rgb(71, 166, 255);
  width: 100%;
}
.show{
  padding-top: 200px;
}
/* #sec1{
  height: 100vh;
  width: 100%;
  background-color: tomato;
}
#sec2{
  height: 100vh;
  width: 100%;
  background-color: rgb(71, 157, 255);
} */
/* .card{
  width: 100%;
  margin: 5px;
  border: none;
}
.card-header{
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
}
.card-header span{
  background-color: tomato;
  width: 50px !important;
  height: 50px !important;
  padding: 5px;
  border-radius: 40px;
  
}
.card-body{
  padding: 15px;
  background-color: teal;
  color: darkorange;
} */